@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

$font-stack: 'PT Sans', sans-serif;
$primary: rgb(81, 81, 81);
$red: rgb(228, 80, 80);
$green: rgb(124, 211, 138);
$orange: rgb(255, 212, 134);
$pale-orange: rgb(255, 243, 219);
$gray: rgb(249, 249, 249);
$dark-gray: rgb(233, 233, 233);

html, button, input, select, .pure-g [class *= "pure-u"] {
  font-family: $font-stack;
} 

body {
  color: white;
  background: url(../assets/background-picture.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  min-width: 768px;
}

body::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

main {
  @extend .text-center;
  margin: 0 auto;
  padding: 2em;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  @extend .text-bold;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5em;
  margin-bottom: 3em;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  button, a {
    margin: 0 1em;
    padding: 1em 2em;
  }
}

form {
  line-height: 2.5em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#app {
  height: 100%;
}

#app > div {
  height: 100%;
}

#logo {
  font-size: 1.25em;
}

#splash-button {
  @extend .button-red;
  span {
    position: relative;
    top: -5px;
  }
}

#rand {
  display: none;
}

.rand-switch {
  box-sizing: border-box;
  margin: 0.5em auto;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: $dark-gray;
}

.rand-switch-inner {
  box-sizing: inherit;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: relative;
  top: 3px;
  left: 3px;
  background-color: white;
}

#rand:checked + .rand-switch {
  background-color: $red;
  .rand-switch-inner {
    left: 23px;
  }
}

input[type="text"], select#ingredients {
  background-color: $gray;
  height: 52px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + div {
  @extend .red;
}

.pizza-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.pizza-child {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.pizza-size {
  @extend .white;
  border: 3px solid $dark-gray;
  margin: 0 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza-size-20 {
  @extend .pizza-size;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.pizza-size-30 {
  @extend .pizza-size;
  width: 75px;
  height: 75px;
  border-radius: 75px;
}

.pizza-size-40 {
  @extend .pizza-size;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.button-red {
  @extend .red;
  @extend .button-large;
  @extend .bottom-shadow;
  @extend .text-bold;
}

.paper {
  padding: 2em 10em 2.5em;
  border-radius: 2px;
}

.paper-white {
  @extend .paper;
  @extend .white;
  @extend .bottom-shadow;
}

.container-relative {
  position: relative;
}

.translucent {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.white {
  color: $primary;
  background-color: white;
}

.red {
  color: white;
  background-color: $red;
}

.green {
  color: white;
  background-color: $green;
}

.orange {
  color: $primary;
  background-color: $pale-orange;
}

.orange-background {
  background-color: $orange;
}

.white-text {
  color: white;
}

.dark-text {
  color: $primary;
}

.icon-bottom {
  margin-top: 1.5em;
}

.button-large {
  padding: 1em 2em;
  margin-right: 0;
}

.button-previous {
  position: absolute;
  top: 40px;
  left: 30px;
  background-color: transparent;
  color: $primary;
  border: none;
}

.plus-button {
  @extend .orange-background;
  height: 100%;
  border: 5px solid white;
}

.icon-button {
  display: inline-flex;
  align-items: center;
}

.icon-left {
  margin-right: 12px;
}

.icon-right {
  margin-left: 12px;
}

.bottom-shadow {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.bottom-shadow-red {
  @extend .bottom-shadow;
  border-bottom-color: $red;
}

.text-bold {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.column-parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  max-width: 200px;
}

.ingredient-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.ingredient {
  @extend .orange;
  margin: 2px;
}
