@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

$font-stack: 'PT Sans', sans-serif;
$primary: rgb(81, 81, 81);
$red: rgb(228, 80, 80);
$green: rgb(124, 211, 138);
$orange: rgb(255, 212, 134);

body {
  color: white;
  background: url(../assets/background-picture.jpeg) no-repeat center center fixed;
  background-size: cover;
  font-family: $font-stack;
  height: 100vh;
  min-width: 768px;
}

body::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

main {
  margin: 0 auto;
  padding: 2em;
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  @extend .text-bold;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5em;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  button, a {
    margin: 0 1em;
    padding: 1em 2em;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#app {
  height: 100%;
}

#app > div {
  height: 100%;
}

#logo {
  font-size: 1.25em;
}

#splash-button {
  @extend .button-red;
  @extend .icon-button;
}

.button-red {
  @extend .red;
  @extend .button-large;
  @extend .bottom-shadow;
  @extend .text-bold;
}

.paper {
  padding: 1em 2em 3em;
  margin: 1em 0 1em;
}

.paper-white {
  @extend .paper;
  @extend .white;
  @extend .bottom-shadow;
}

.translucent {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.white {
  color: $primary;
  background-color: white;
}

.red {
  color: white;
  background-color: $red;
}

.green {
  color: white;
  background-color: $green;
}

.orange-background {
  background-color: $orange;
}

.white-text {
  color: white;
}

.dark-text {
  color: $primary;
}

.button-large {
  padding: 1em 2em;
  margin-right: 0;
}

.icon-button {
  display: inline-flex;
  align-items: center;
}

.icon-left {
  margin-right: 12px;
}

.icon-right {
  margin-left: 12px;
}

.bottom-shadow {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.bottom-shadow-red {
  @extend .bottom-shadow;
  border-bottom-color: $red;
}

.text-bold {
  font-weight: 700;
}
